canvas {
    width: 400px;
    height: 250px;
    border: 1px solid black;
    vertical-align: top;
}

#greymaker {
    margin-left: 27%;
}

#cont {
    display: inline-flex;
    vertical-align: top;
}

#can2 {
    margin-left: 10%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}